body {
  font-size: 18px;
  background-color: #33495d;
}

h1 {
  font-size: 2.3rem;
  color: #1abc9c;
  margin: 15px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  background-color: #ebf0f1;
  border-radius: 5px;
  margin: 10px;
  padding: 30px;
}

#name,
#email,
#age,
#password,
#confirm-password {
  width: 230px;
  height: 20px;
  border-radius: 3px;
  border: none;
  padding: 8px;
}
#profession {
  width: 250px;
  border: none;
  border-radius: 3px;
  padding: 10px 5px;
}

label {
  color: #33495d;
}

.form__submit {
  width: 250px;
  height: 40px;
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.form__submit:hover {
  background-color: #33495d;
  cursor: pointer;
}

div {
  margin-bottom: 10px;
}
